<h1>Add new cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Go back", cocktails_path, class: "btn btn-warning btn-sm" %>

